html body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    0deg,
    rgba(206, 220, 231, 1) 0%,
    rgba(89, 106, 114, 1) 100%
  );
}

.badge-title {
  font-size: 34px;
  padding: 1rem 5rem;
  margin: 20px 0;
  font-weight: bold;
  color: whitesmoke;
}

.App {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  min-height: 100vw;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #f1f1f1 50%,
    #e1e1e1 51%,
    #f6f6f6 100%
  );
}

li {
  font-family: "Indie Flower", cursive;
  font-size: 26px;
  font-weight: bold;
}
